@import url('./style.css');

/* <!-- Max width 1199px --> */
@media screen and (max-width: 1199px) {
    .custom-container {
        width: 90%;
        min-width: 90%;
        margin: 0 auto;
    }

    .nav-top,
    .nav-bottom {
        display: none;
    }

    .nav-size {
        height: auto;
        position: relative;
        z-index: 10;
    }

    .res-active-nav {
        background: var(--primary);
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .res-serach-box {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        background: var(--white);
        border-radius: 5px;
        overflow: hidden;
        width: 90%;
        max-width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .res-serach-box input {
        width: 100%;
        height: 38px;
        padding: 0 16px;
        font-size: 14px;
        outline: none;
        background: transparent;
        border: none;
    }

    .res-serach-box button {
        width: max-content;
        height: 38px;
        padding: 0 14px;
        border: none;
        background: rgba(116, 49, 249, 0.1);
        color: var(--primary);
        display: grid;
        place-items: center;
    }

    .res-bottom-btn {
        display: block;
        position: fixed;
        bottom: 12px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        width: 80%;
        background-color: var(--white);
        padding: 10px 0;
        border-radius: 20px;
        box-shadow: 0 -1px 40px -8px rgba(0, 0, 0, 0.2);
    }

    .res-bottom-btn ul {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
    }

    .res-bottom-btn ul li a{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}